body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: #906b344b;
    height: 100vh;
    margin: 0;
    padding: 20px;
}

#container {
    width: 90%;
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

#questions {
    width: 60%;
    background-color: #4292966b;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.question-container {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.question {
    font-weight: bold;
    margin-bottom: 10px;
}

.dropzone {
    width: 100%;
    height: 65px;
    border: 2px dashed #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    margin-top: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.draggable {
    width: 150px;
    height: 50px;
    background-color: #3498db;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: move;
    border-radius: 4px;
    margin-bottom: 10px;
    user-select: none;
    position: absolute;
    transition: background-color 0.3s ease;
}

.correct {
    background-color: #2ecc71;
    border-color: #27ae60;
    color: white;
}

.incorrect {
    background-color: #e74c3c;
    border-color: #c0392b;
    color: white;
}

#drag {
    width: 30%;
    position: relative;
}

.feedback {
    text-align: center;
    margin-top: 20px;
    font-size: 1.2rem;
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    #container {
        flex-direction: column;
        align-items: center;
    }

    #questions {
        width: 100%;
    }

    #drag {
        width: 100%;
        margin-top: 20px;
    }
}